<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.getcooked">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_whattocooklogo"
        android:label="What to cook"
        android:roundIcon="@drawable/ic_whattocookcircular"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="WhatToCook.Model.HomeActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="WhatToCook.Model.ElegirComidaFavoritaActivity"></activity>
        <activity
            android:name="WhatToCook.Model.RecetasDetalle"
            android:screenOrientation="portrait" />
        <activity
            android:name="WhatToCook.Model.RecetasInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="WhatToCook.Model.BuscarRecetas"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="WhatToCook.Model.CrearUsuarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="WhatToCook.Model.RecuperarCuentaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="WhatToCook.Model.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="WhatToCook.Model.RegistrarseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="WhatToCook.Model.LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>